extends layout

block content
  h1= title
  p Welcome to #{title}
  input#add-item(type="text", placeholder="Add Item")
  br
  div#notLogged
  div#logged
    div#items
  script(src='javascripts/home.js')

