extends layout

block content
  h1= title
  p Welcome to #{title}
  div#notLogged
  div#logged
    h1 You are logged in
    button#logout Logout
    p#user-email
    input#add-item(type='text', placeholder='Add item')
    div#items
  script(src='javascripts/home.js')

